.cartCardDetail {
	display: flex;
	flex-direction: row;
	color: #fff7ef;
	background-position: center center;
	max-width: 500px;
	height: 600px;
	border-radius: 1rem;
	overflow: hidden;
	transition: transform 500ms ease;
	box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
}

.cartCard--1 {
	background-image: url("../../assets/images/cartCard--1.webp");
	background-size: cover;
}
.cartCard--2 {
	background-image: url("../../assets/images/cartCard--2.webp");
	background-size: cover;
}
.cartCard--3 {
	background-image: url("../../assets/images/cartCard--3.webp");
	background-size: cover;
}
.cartCard--4 {
	background-image: url("../../assets/images/cartCard--4.webp");
	background-size: cover;
}
.cartCard--5 {
	background-image: url("../../assets/images/cartCard--5.webp");
	background-size: cover;
}
.cartCard--6 {
	background-image: url("../../assets/images/cartCard--6.webp");
	background-size: cover;
}
.cartCard--7 {
	background-image: url("../../assets/images/cartCard--7.webp");
	background-size: cover;
}

.cartCardDetail-content {
	padding: 1rem;
	background: linear-gradient(black, rgba(0, 0, 0, 0.5));
	align-self: flex-end;
	min-width: 500px;
    min-height: 230px;
}
.cartCardDetail-content__title {
	font-size: 2rem;
    font-weight: 700;
	text-decoration: none;
	text-decoration-color: #fff7ef;
	padding: 2px;
}

.cartCardDetail .cartCardDetail:hover,
.cartCardDetail:focus-within {
	transform: scale(1.05);
}

.cartCardDetail .cartCardDetail-content__body {
	color: #fff7ef;
	font-size: 1.5rem;
	padding: 6px;
}

.button-cart,
.button-cart__purchase {
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
	color: #fff7ef;
	background-color: black;
	padding: 0.2rem 1rem;
	border-radius: 0.25rem;
	transition: all 0.5s ease;
}

.button-cart:hover,
.button-cart__purchase:hover {
	background-color: #fff7ef;
	color: black;
}
