.inputForm__container {
	display: flex;
	flex-direction: column;
	padding: 10px;
	margin: 10px;
	align-items: flex-end;
}

.inputForm__label {
	width: 180px;
	padding: 5px;
}

.inputForm__input{
    margin: 5px;
    padding: 5px;

}
