/*ESTILOS DEL HEADER y NAVBAR*/

header {
	position: sticky;
	top: 0px;
	width: 100%;
	z-index: 1;
}

.bs--navbar {
	background-image: url("../../assets/images/consultorio_header.webp");
	background-size: cover;
	background-position: center center;
	width: 100%;
	border-radius: 4px;
	position: sticky;
	top: 0px;
	width: 100%;
	z-index: 1;
}

.row {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	width: 100%;
}

.col {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-items: center;
	padding: 5px;
	padding: 5px;
}

.nav__list {
	font-size: 1.5rem;
	color: #fff7ef;
	text-transform: uppercase;
	font-weight: bold;
	list-style: none;
	display: inline-block;
	align-self: center;
	text-shadow: 2px 2px 4px black;
}

.dropdown--nav__link {
	font-size: 1.5rem;
	color: #6f756b;
	text-transform: uppercase;
	text-align: left;
	font-weight: bold;
	list-style: none;
	display: inline-block;
	text-shadow: 2px 2px 4px #6f756b;
	min-width: 280px;
}

.dropdown--nav__list {
	font-size: 1.5rem;
	color: #fff7ef;
	text-transform: uppercase;
	font-weight: bold;
	list-style: none;
	display: inline-block;
	text-shadow: 2px 2px 4px black;
}

.nav__list li {
	font-size: 1.5rem;
	margin-left: 1.5rem;
	color: #f88a02;
	text-transform: uppercase;
	font-weight: bold;
	list-style: none;
	display: inline-block;
	align-self: center;
	text-shadow: 2px 2px 4px black;
}

.nav__link {
	color: #fff7ef;
	text-decoration: none;
	font-weight: bold;
}

.cart__qty {
	font-size: 1rem;
}

.nav__link:hover,
.nav__list:hover {
	color: #f88a02;
	text-shadow: 2px 2px 4px black;
}
