.App {
	text-align: center;
}

#main {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	background-image: url(./assets/images/main_background.webp);
	background-position: center bottom;
	background-size: cover;
}

#header {
	grid-area: header;
}

#main {
	grid-area: main;
}

#footer {
	grid-area: footer;
}

.grid--container {
	display: grid;
	grid-template-areas:
		"header"
		"main"
		"footer";
	grid-template-rows: auto auto auto;
	height: 100vh;
}
