/*ESTILOS GENERALES*/
/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Para que ocupe toda la altura */
html {
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bs--navbar {
  background-image: url("./images/consultorio_header.webp");
  background-size: cover;
  background-position: center center;
  width: 100%;
  border-radius: 4px;
}

.image {
	box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
	border-radius: 4px;
}